plotly
streamlit
langchain
langchain-chroma
langchain-community
langchain-google-genai
langchain-huggingface
sentence-transformers
torch
transformers
sqlite-vec==0.0.1a12
hnswlib==0.8.0
pysqlite3-binary
numpy==1.26.4
pandas
chromadb==0.4.24
